html, body {
    height: 100%;
}
.grid-box {
    display: grid;
    place-items: center;
    background: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
  }
  
*{ /* styling*/
    padding: 0;  /* ruimte binnen een element*/
    margin: 0;  /* ruimte buite een element*/
    font-family: 'Josefin Sans', sans-serif;
    box-sizing:border-box; /* hoogte en breeedte wordt berekent inclusi padding en border(kleur breedte hoogte stji)*/
}

#header{
    width:100%;
    height:100%;
    background-image: url('insideout.png');
    background-size: auto;
    background-position: right center;
    padding-left: 50px;  /* ruimte binnen een element*/
    background-repeat: no-repeat;
}
body{   
    background-color: #2b2b2b;
    color: aliceblue;
}
.container{
    padding: 10px 10%;  /* ruimte binnen een element*/
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between; /* inhoud wordt gecentreerd (verticaal) en ruimte wordt verdeeld die binnen de flexbox(maakt het een
    voudiger om alles binnen de container te houden staan*/
    flex-wrap: wrap;
 }
 .logo{

    width: 140px;
 }
nav ul li {
    display: inline-block;
    margin: 10px 20px; /* ruimte buite een element*/
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 23px;
    position: relative;
}
nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #074d63;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 
}
nav ul li a:hover::after{
    width: 100%;

}

.header-text h1 span{

color: #c4bbb1;
}
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Kleinere tekst op kleine schermen */
    }

    nav ul {
        flex-direction: column; /* Zet de knoppen onder elkaar */
    }

    .logo {
        width: 100px; /* Maak het logo kleiner */
    }
}
